Repository jaredschueler07/runiq, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, ci/cd, health-connect, ai-coaching, spotify, database, ui, architecture, services, testing

.github/labeler.yml:

# .github/labeler.yml
# Automatically label PRs based on paths
'dependencies':
  - 'gradle/**/*'
  - '*.gradle*'
  - 'gradle.properties'

'documentation':
  - '*.md'
  - 'docs/**/*'

'ci/cd':
  - '.github/**/*'

'health-connect':
  - '**/*health*'
  - '**/*Health*'

'ai-coaching':
  - '**/*coach*'
  - '**/*Coach*'
  - '**/*coaching*'

'spotify':
  - '**/*spotify*'
  - '**/*Spotify*'
  - '**/*music*'
  - '**/*Music*'

'database':
  - '**/*dao*'
  - '**/*entity*'
  - '**/*database*'
  - '**/*Database*'

'ui':
  - '**/ui/**/*'
  - '**/compose/**/*'
  - '**/*Screen.kt'
  - '**/theme/**/*'

'architecture':
  - '**/domain/**/*'
  - '**/data/**/*'
  - '**/di/**/*'
  - '**/*Repository*'
  - '**/*UseCase*'

'services':
  - '**/services/**/*'
  - '**/*Service.kt'
  - '**/*Worker.kt'

'testing':
  - '**/test/**/*'
  - '**/androidTest/**/*'
  - '**/*Test.kt'
  - '**/*Tests.kt'

Create labeler.yml
  .github/workflows/labeler.yml
Labels: ci/cd

Create linear-sync.yml
  .github/workflows/linear-sync.yml
Labels: ci/cd

Changes to be committed: modified: .claude/settings.local.json new file: CLAUDE.md
  .claude/settings.local.json
  CLAUDE.md
Labels: documentation

RUN-36: Complete dependencies and build configuration
  app/build.gradle.kts
  app/google-services.json
  app/proguard-rules.pro
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/runiq/MainActivity.kt
  app/src/main/java/com/runiq/RunIQApplication.kt
  app/src/main/java/com/runiq/ui/theme/Color.kt
  app/src/main/java/com/runiq/ui/theme/Theme.kt
  app/src/main/java/com/runiq/ui/theme/Type.kt
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradlew
Labels: dependencies, ui

feat: add CI/CD and project setup from RUN-34
  .editorconfig
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECRETS.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/android.yml
  .ktlint.yml
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  PROJECT_SETUP_SUMMARY.md
  README.md
  scripts/setup.sh
Labels: documentation, ci/cd

feat: add external services configuration from RUN-35
  INTEGRATION_SUMMARY.md
  SETUP.md
  app/src/main/java/com/runiq/core/config/AppConfig.kt
  app/src/main/java/com/runiq/core/config/ConfigValidator.kt
  app/src/main/java/com/runiq/core/config/SecretKeys.kt
  app/src/main/java/com/runiq/core/config/ServiceInitializer.kt
  app/src/test/java/com/runiq/core/config/SecretKeysTest.kt
  local.properties.template
Labels: documentation, testing

feat: enhance database layer with additional components from RUN-37
  app/DATABASE_IMPLEMENTATION_SUMMARY.md
  app/src/main/java/com/runiq/data/local/dao/CoachDao.kt
  app/src/main/java/com/runiq/data/local/dao/CoachTextLineDao.kt
  app/src/main/java/com/runiq/data/local/dao/HealthMetricDao.kt
  app/src/main/java/com/runiq/data/local/entities/CoachEntity.kt
  app/src/main/java/com/runiq/data/local/entities/CoachTextLineEntity.kt
  app/src/main/java/com/runiq/data/local/entities/GpsTrackPointEntity.kt
  app/src/main/java/com/runiq/data/local/entities/HealthMetricCacheEntity.kt
  app/src/main/java/com/runiq/data/local/entities/RunSessionEntity.kt
  app/src/main/java/com/runiq/domain/model/RunContext.kt
  app/src/main/java/com/runiq/domain/model/SyncStatus.kt
  app/src/main/java/com/runiq/domain/model/VoiceCharacteristics.kt
  app/src/main/java/com/runiq/domain/repository/CoachRepository.kt
  app/src/test/java/com/runiq/data/local/dao/CoachDaoTest.kt
  app/src/test/java/com/runiq/data/local/database/RunIQDatabaseTest.kt
Labels: health-connect, ai-coaching, database, architecture, testing

feat: enhance Hilt DI modules from RUN-38
  app/src/main/java/com/runiq/di/AppModule.kt
  app/src/main/java/com/runiq/di/DatabaseModule.kt
  app/src/main/java/com/runiq/di/FirebaseModule.kt
  app/src/main/java/com/runiq/di/HealthModule.kt
  app/src/main/java/com/runiq/di/LocationModule.kt
  app/src/main/java/com/runiq/di/NetworkModule.kt
  app/src/main/java/com/runiq/di/README.md
  app/src/main/java/com/runiq/di/RepositoryModule.kt
  app/src/main/java/com/runiq/di/WorkerModule.kt
Labels: health-connect, database, architecture

feat: add base architecture components from RUN-39
  app/src/main/java/com/runiq/core/error/ErrorMapper.kt
  app/src/main/java/com/runiq/core/error/GlobalErrorHandler.kt
  app/src/main/java/com/runiq/core/error/RunIQException.kt
  app/src/main/java/com/runiq/core/extensions/CoroutineExtensions.kt
  app/src/main/java/com/runiq/core/extensions/DateTimeExtensions.kt
  app/src/main/java/com/runiq/core/extensions/FlowExtensions.kt
  app/src/main/java/com/runiq/core/extensions/StringExtensions.kt
  app/src/main/java/com/runiq/core/extensions/ViewExtensions.kt
  app/src/main/java/com/runiq/core/util/Result.kt
  app/src/main/java/com/runiq/data/local/preferences/PreferencesManager.kt
  app/src/main/java/com/runiq/data/local/preferences/UserPreferences.kt
  app/src/main/java/com/runiq/data/remote/api/ElevenLabsApiService.kt
  app/src/main/java/com/runiq/data/remote/api/GeminiApiService.kt
  app/src/main/java/com/runiq/data/remote/api/SpotifyApiService.kt
  app/src/main/java/com/runiq/data/remote/dto/ElevenLabsDto.kt
  app/src/main/java/com/runiq/data/remote/dto/GeminiDto.kt
  app/src/main/java/com/runiq/data/remote/dto/SpotifyDto.kt
  app/src/main/java/com/runiq/data/repository/BaseRepository.kt
  app/src/main/java/com/runiq/data/repository/CoachRepositoryImpl.kt
  app/src/main/java/com/runiq/data/repository/HealthRepositoryImpl.kt
  app/src/main/java/com/runiq/data/repository/MusicRepositoryImpl.kt
  app/src/main/java/com/runiq/data/repository/UserRepositoryImpl.kt
  app/src/main/java/com/runiq/domain/repository/HealthRepository.kt
  app/src/main/java/com/runiq/domain/repository/MusicRepository.kt
  app/src/main/java/com/runiq/domain/repository/UserRepository.kt
  app/src/main/java/com/runiq/domain/usecase/BaseUseCase.kt
  app/src/main/java/com/runiq/presentation/base/BaseViewModel.kt
  app/src/main/java/com/runiq/presentation/theme/Shape.kt
Labels: health-connect, ai-coaching, spotify, ui, architecture, services

feat: add additional testing documentation from RUN-40
  TESTING_FOUNDATION_SUMMARY.md
Labels: documentation

feat: complete Room database implementation and project configuration
  .claude/settings.local.json
  .editorconfig
  .github/pull_request_template.md
  .github/workflows/android-ci.yml
  .gitignore
  CLAUDE.md
  GEMINI.md
  README.md
  app/src/main/java/com/runiq/data/local/converters/Converters.kt
  app/src/main/java/com/runiq/data/local/dao/GpsTrackDao.kt
  app/src/main/java/com/runiq/data/local/dao/RunSessionDao.kt
  app/src/main/java/com/runiq/data/local/database/RunIQDatabase.kt
  app/src/main/java/com/runiq/data/local/entities/CoachingEnums.kt
  app/src/main/java/com/runiq/domain/model/CoachingMessage.kt
  app/src/main/java/com/runiq/domain/model/WorkoutType.kt
  app/src/test/java/com/runiq/data/local/dao/RunSessionDaoTest.kt
Labels: documentation, ci/cd, ai-coaching, database, architecture, testing

feat: fix build configuration and add testing foundation
  .claude/settings.local.json
  app/build.gradle.kts
  app/src/main/java/com/runiq/core/config/SecretKeys.kt
  app/src/test/java/com/runiq/testing/base/BaseDaoTest.kt
  app/src/test/java/com/runiq/testing/base/BaseRepositoryTest.kt
  app/src/test/java/com/runiq/testing/base/BaseUnitTest.kt
  app/src/test/java/com/runiq/testing/base/BaseViewModelTest.kt
  app/src/test/java/com/runiq/testing/utils/MockkExtensions.kt
  app/src/test/java/com/runiq/testing/utils/TestCoroutineRule.kt
  app/src/test/java/com/runiq/testing/utils/TestDataFactory.kt
Labels: architecture, testing

test: add comprehensive DAO unit tests for RUN-59
  .claude/settings.local.json
  CLAUDE.md
  app/src/test/java/com/runiq/data/local/dao/GpsTrackDaoTest.kt
  app/src/test/java/com/runiq/data/local/dao/HealthMetricDaoTest.kt
  app/src/test/java/com/runiq/data/local/dao/RunSessionDaoTest.kt
Labels: documentation, health-connect, architecture, testing

feat: implement comprehensive test suite for RUN-59
  app/src/main/java/com/runiq/data/local/dao/RunSessionDao.kt
  app/src/main/java/com/runiq/data/repository/RunRepositoryImpl.kt
  app/src/main/java/com/runiq/domain/repository/RunRepository.kt
  app/src/main/java/com/runiq/domain/usecase/EndRunUseCase.kt
  app/src/main/java/com/runiq/domain/usecase/GetRunHistoryUseCase.kt
  app/src/main/java/com/runiq/domain/usecase/ObserveActiveRunUseCase.kt
  app/src/main/java/com/runiq/domain/usecase/SaveGpsTrackPointUseCase.kt
  app/src/main/java/com/runiq/domain/usecase/StartRunUseCase.kt
  app/src/main/java/com/runiq/domain/usecase/SyncHealthDataUseCase.kt
  app/src/main/java/com/runiq/presentation/screens/run/RunViewModel.kt
  app/src/test/java/com/runiq/data/repository/BaseRepositoryTest.kt
  app/src/test/java/com/runiq/data/repository/CoachRepositoryImplTest.kt
  app/src/test/java/com/runiq/data/repository/HealthRepositoryImplTest.kt
  app/src/test/java/com/runiq/data/repository/MusicRepositoryImplTest.kt
  app/src/test/java/com/runiq/data/repository/RunRepositoryImplTest.kt
  app/src/test/java/com/runiq/data/repository/UserRepositoryImplTest.kt
  app/src/test/java/com/runiq/domain/usecase/BaseUseCaseTest.kt
  app/src/test/java/com/runiq/domain/usecase/EndRunUseCaseTest.kt
  app/src/test/java/com/runiq/domain/usecase/SaveGpsTrackPointUseCaseTest.kt
  app/src/test/java/com/runiq/domain/usecase/StartRunUseCaseTest.kt
  app/src/test/java/com/runiq/domain/usecase/SyncHealthDataUseCaseTest.kt
  app/src/test/java/com/runiq/presentation/base/BaseViewModelTest.kt
  app/src/test/java/com/runiq/presentation/screens/run/RunViewModelTest.kt
Labels: health-connect, ai-coaching, spotify, architecture, testing

fix: add git merge permission to Claude settings
  .claude/settings.local.json
Labels: none

Changes to be committed: modified: .claude/settings.local.json Changes not staged for commit: modified: .claude/settings.local.json modified: .idea/misc.xml
  .claude/settings.local.json
Labels: none

On branch stable-build Your branch is up to date with 'origin/stable-build'. Changes to be committed: modified: .claude/settings.local.json
  .claude/settings.local.json
Labels: none

Update Claude settings with additional permissions
  .claude/settings.local.json
Labels: none

Update Claude settings for RUN-40 testing branch
  .claude/settings.local.json
Labels: none

Fix root build.gradle.kts merge conflict
  build.gradle.kts
Labels: dependencies

Fix google-services.json merge conflict
  app/google-services.json
Labels: none
